@use 'src/shared/styles/unity' as *;

._variant-light {
  background-color: $neutrals-white;
  border-top: 1px solid $neutrals-gray-6;
}

._variant-dark {
  background-color: $neutrals-gray-2;
  border-top: 1px solid $neutrals-gray-3;
}
