@import 'app/ui/styles/variables.scss';
@import 'app/ui/styles/mixins.scss';

.list {
  &_style_wide &__item:not(:first-child) {
    padding-left: 36px;

    @include media($mq-n) {
      padding-left: 20px;
    }
  }

  &_style_wide &__item:not(:first-child):before {
    left: 16px;

    @include media($mq-n) {
      left: 8px;
    }
  }

  &_style_light &__item {
    color: $color-text-lighter;
  }

  &_size_l &__item {
    @include text;

    @include media($mq-n) {
      @include text-description;
    }
  }

  &_size_l &__item:not(:first-child) {
    padding-left: 36px;
  }

  &_size_l &__item:not(:first-child):before {
    left: 16px;
    top: 10px;
  }

  &__item {
    display: inline-block;
    @include text-description;
    color: $color-text-dark-gray;

    @include media($mq-n) {
      @include text-caption;
    }
    @include desktop {
      font-size: 12px;
    }
  }

  &__item:not(:first-child) {
    position: relative;
    display: inline-block;
    padding-left: 20px;
  }

  &__item:not(:first-child):before {
    position: absolute;
    content: '';
    top: 6px;
    left: 8px;
    width: 4px;
    height: 4px;
    background-color: $color-background-gray;
    border-radius: 50%;

    @include media($mq-n) {
      top: 6px;
    }
  }
}

.mapFeatures {
  .list__item {
    font-size: 12px;
    line-height: 16px;
    padding: 0 10px;

    &:first-child {
      padding: 0 10px 0 0;
    }

    &:before {
      left: 0;
    }
  }
}
