.img-adapt {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    &_proportion_1 {
        padding-top: 131%;
    }

    &_bg-size_contain {
        background-size: contain;
    }
}
