.teaser-simple {
    display: flex;
    flex-direction: column;
    background-color: $color-background-lighter;
    height: 640px;
    padding: $space_l;
    border-radius: $border-radius;

    @include desktop {
        height: 412px;
    }

    @include tablet {
        padding: $space_s;
    }

    &__title {
        flex: 1 0 auto;
        @include headline-4;
        color: $color-text-dark;

        @include desktop {
            @include headline-5;
        }
    }

    &__note {
        flex-shrink: 0;
    }
}
