@import 'app/ui/styles/variables.scss';
@import 'app/ui/styles/mixins.scss';

.button {
  display: inline-flex;
  height: $button-height;
  @include button-l;
  color: $color-text-lighter;
  white-space: nowrap;
  padding: 0 $space;
  padding-top: 14px;
  border: 1px solid $color-border-dark-gray;
  border-radius: $border-radius;
  cursor: pointer;
  @include unselectable;

  @include desktop {
    height: $button-height-tablet;
    padding: 0 $space_s;
    padding-top: 10px;
  }

  &_size_l {
    @include desktop {
      height: $button-height;
      padding: 0 $space;
      padding-top: 14px;
    }
  }

  &_with-arrow {
    padding-right: $space_s;
  }
  &_with-arrow &__icon {
    display: block;
  }
  &_with-arrow &__icon {
    display: block;
  }

  &_border_light {
    border-color: $color-border-lighter;
  }

  &_style_primary-office {
    background-color: $color-background-primary-office;
    border: none;
  }

  &__icon {
    display: none;
    width: $icon-size;
    height: $icon-size;
    color: $color-text-lighter;
    margin-top: 2px;
    margin-left: $space_xs;
  }

  &__account {
    @include button;
    justify-content: center;
    border: 0.5px solid $d-color-neutrals-gray-4;
  }

  &__account-content,
  &__account-meet {
    color: $d-color-neutrals-gray-1;
    justify-content: center;
    border: 1px solid $d-color-neutrals-gray-5;

    @media (max-width: $mq-n) {
      font-size: 14px;
    }
  }

  &__account-modal {
    width: 100%;
    justify-content: center;
    color: $d-color-neutrals-white;
    background-color: $d-color-neutrals-gray-1;
  }

  &__modal-success {
    width: 100%;
    justify-content: center;
    color: $d-color-neutrals-white;
    background-color: $d-color-neutrals-gray-1;
  }

  &__account-content,
  &__account-meet {
    color: $d-color-neutrals-gray-1;
    justify-content: center;
    border: 1px solid $d-color-neutrals-gray-5;

    @media (max-width: $mq-n) {
      font-size: 14px;
    }
  }

  &__account-modal {
    width: 100%;
    justify-content: center;
    color: $d-color-neutrals-white;
    background-color: $d-color-neutrals-gray-1;
  }

  &__modal-success {
    width: 100%;
    justify-content: center;
    color: $d-color-neutrals-white;
    background-color: $d-color-neutrals-gray-1;
  }
}
