@use 'app/ui/styles/unity.scss' as *;

.button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;

  border-style: solid;
  border-width: 1px;

  @include sans-serif;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.enhancer {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ==============================
// Sizes
// ==============================

@mixin small-button {
  padding: 7px 15px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 8px;

  .content {
    gap: 8px;
  }

  .enhancer,
  .loaderIcon {
    width: 12px;
    height: 12px;

    & > svg {
      width: 12px;
      height: 12px;
    }
  }

  &._isPre {
    padding-left: 7px;
  }

  &._isPost {
    padding-right: 7px;
  }
}

@mixin medium-button {
  padding: 13px 23px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 12px;

  .content {
    gap: 14px;
  }

  .enhancer,
  .loaderIcon {
    width: 20px;
    height: 20px;

    & > svg {
      width: 20px;
      height: 20px;
    }
  }

  &._isPre {
    padding-left: 13px;
  }

  &._isPost {
    padding-right: 13px;
  }
}

@mixin large-button {
  padding: 15px 31px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 16px;

  .content {
    gap: 16px;
  }

  .enhancer,
  .loaderIcon {
    width: 24px;
    height: 24px;

    & > svg {
      width: 24px;
      height: 24px;
    }
  }

  &._isPre {
    padding-left: 15px;
  }

  &._isPost {
    padding-right: 15px;
  }
}

._s-small {
  @include small-button;
}

._s-medium {
  @include medium-button;
}

._s-large {
  @include large-button;
}

@each $size, $d in $dimensions {
  @include media($d) {
    ._s_#{$size}-small {
      @include small-button;
    }

    ._s_#{$size}-medium {
      @include medium-button;
    }

    ._s_#{$size}-large {
      @include large-button;
    }
  }
}

// ==============================
// Sizes
// ==============================

._width-auto {
  width: auto;
}

._width-full {
  width: 100%;
}

@each $size, $d in $dimensions {
  @include media($d) {
    ._width_#{$size}-auto {
      width: auto;
    }

    ._width_#{$size}-full {
      width: 100%;
    }
  }
}

// ==============================
// Variants
// ==============================

._variant-blackStroke {
  color: $neutrals-gray-1;
  border-color: $neutrals-gray-5;

  @media (hover: hover) {
    &:hover {
      border-color: $neutrals-gray-1;
    }
  }

  &:active:not(._disabled) {
    color: $neutrals-white;
    background-color: $neutrals-gray-1;
    border-color: $neutrals-gray-1;
  }

  &:disabled {
    color: $neutrals-gray-5;
    border-color: $neutrals-gray-6;
  }
}

._variant-blackStroke2 {
  color: $neutrals-gray-1;
  border-color: $neutrals-gray-1;

  @media (hover: hover) {
    &:hover {
      background-color: $neutrals-gray-7;
    }
  }

  &:active:not(._disabled) {
    color: $neutrals-white;
    background-color: $neutrals-gray-1;
    border-color: $neutrals-gray-1;
  }

  &:disabled {
    color: $neutrals-gray-5;
    border-color: $neutrals-gray-6;
  }
}

._variant-blackFill {
  color: $neutrals-white;
  background-color: $neutrals-gray-1;
  border-color: $neutrals-gray-1;

  @media (hover: hover) {
    &:hover {
      background-color: $neutrals-gray-2;
      border-color: $neutrals-gray-2;
    }
  }

  &:active:not(._disabled) {
    background-color: $neutrals-gray-3;
    border-color: $neutrals-gray-3;
  }

  &:disabled {
    color: $neutrals-gray-6;
    background-color: $neutrals-gray-5;
    border-color: $neutrals-gray-5;
  }
}

._variant-whiteStroke {
  color: $neutrals-white;
  border-color: $neutrals-gray-4;

  @media (hover: hover) {
    &:hover {
      border-color: $neutrals-white;
    }
  }

  &:active:not(._disabled) {
    color: $neutrals-gray-1;
    background-color: $neutrals-white;
    border-color: $neutrals-white;
  }

  &:disabled {
    color: $neutrals-gray-3;
    border-color: $neutrals-gray-2;
  }
}

._variant-whiteStroke2 {
  color: $neutrals-white;
  border-color: $neutrals-white;

  @media (hover: hover) {
    &:hover {
      background-color: $neutrals-gray-2;
    }
  }

  &:active:not(._disabled) {
    color: $neutrals-gray-1;
    background-color: $neutrals-white;
  }

  &:disabled {
    color: $neutrals-gray-3;
    border-color: $neutrals-gray-2;
  }
}

._variant-whiteFill {
  color: $neutrals-gray-1;
  background-color: $neutrals-white;
  border-color: $neutrals-white;

  @media (hover: hover) {
    &:hover {
      background-color: $neutrals-gray-6;
      border-color: $neutrals-gray-6;
    }
  }

  &:active:not(._disabled) {
    color: $neutrals-white;
    background-color: $neutrals-gray-4;
    border-color: $neutrals-gray-4;
  }

  &:disabled {
    color: $neutrals-gray-3;
    background-color: $neutrals-gray-2;
    border-color: $neutrals-gray-2;
  }
}

._variant-domStroke {
  color: $neutrals-gray-1;
  border-color: $primary-home;

  @media (hover: hover) {
    &:hover {
      background-color: $neutrals-gray-6;
    }
  }

  &:active:not(._disabled) {
    color: $neutrals-white;
    background-color: $primary-home;
  }

  &:disabled {
    color: $neutrals-gray-5;
    border-color: $neutrals-gray-6;
  }
}

._variant-domStroke2 {
  color: $neutrals-white;
  border-color: $primary-home;

  @media (hover: hover) {
    &:hover {
      background-color: $neutrals-gray-2;
    }
  }

  &:active:not(._disabled) {
    background-color: $neutrals-gray-3;
  }

  &:disabled {
    color: $neutrals-gray-2;
    border-color: $neutrals-gray-2;
  }
}

._variant-domFill {
  color: $neutrals-white;
  background-color: $primary-home;
  border-color: $primary-home;

  @media (hover: hover) {
    &:hover {
      box-shadow: inset 0 64px 0 rgb(0 0 0 / 10%);
    }
  }

  &:active:not(._disabled) {
    box-shadow: inset 0 64px 0 rgb(0 0 0 / 20%);
  }

  &:disabled {
    opacity: 0.2;
  }
}

._variant-officeStroke {
  color: $neutrals-gray-1;
  border-color: $primary-office;

  @media (hover: hover) {
    &:hover {
      background-color: $neutrals-gray-7;
    }
  }

  &:active:not(._disabled) {
    color: $neutrals-white;
    background-color: $primary-office;
  }

  &:disabled {
    color: $neutrals-gray-5;
    border-color: $neutrals-gray-6;
  }
}

._variant-officeStroke2 {
  color: $neutrals-white;
  border-color: $primary-office;

  @media (hover: hover) {
    &:hover {
      background-color: $neutrals-gray-2;
    }
  }

  &:active:not(._disabled) {
    background-color: $primary-office;
  }

  &:disabled {
    color: $neutrals-gray-3;
    border-color: $neutrals-gray-2;
  }
}

._variant-officeFill {
  color: $neutrals-white;
  background-color: $primary-office;
  border-color: $primary-office;

  @media (hover: hover) {
    &:hover {
      box-shadow: inset 0 64px 0 rgb(0 0 0 / 10%);
    }
  }

  &:active:not(._disabled) {
    box-shadow: inset 0 64px 0 rgb(0 0 0 / 30%);
  }

  &:disabled {
    opacity: 0.2;
  }
}

._variant-redFill {
  color: $secondary-red;
  background-color: rgba($secondary-red, 0.1);
  border-color: transparent;

  @media (hover: hover) {
    &:hover {
      border-color: $secondary-red;
    }
  }

  &:active:not(._disabled) {
    background-color: $secondary-red;
    color: $neutrals-white;
  }

  &:disabled {
    opacity: 0.2;
  }
  // &:active:not(._disabled) {
  //   background-color: $neutrals-gray-5;
  //   border-color: $neutrals-gray-5;
  // }
}

// ==============================
// Loading
// ==============================

._isLoading {
  pointer-events: none;

  .content {
    visibility: hidden;
  }
}
