@use 'app/ui/styles/unity' as *;

$gaps: 0, 1, 2, 3, 4, 5, 6, 7, 8;
$factor: 8;
$directions: row, row-reverse, column, column-reverse;
$wraps: nowrap, wrap, wrap-reverse;
$justifyContent: flex-start, flex-end, center, space-between, space-around, space-evenly;
$alignItems: stretch, flex-start, flex-end, center, baseline;
$growAndShrink: 0, 1, 2, 3, 4;

@each $g in $gaps {
  ._g-#{$g} {
    gap: #{$g * $factor}px;
  }

  ._cg-#{$g} {
    column-gap: #{$g * $factor}px;
  }

  ._rg-#{$g} {
    row-gap: #{$g * $factor}px;
  }
}

@each $dir in $directions {
  ._dir-#{$dir} {
    flex-direction: $dir;
  }
}

@each $w in $wraps {
  ._w-#{$w} {
    flex-wrap: $w;
  }
}

@each $jc in $justifyContent {
  ._jc-#{$jc} {
    justify-content: $jc;
  }
}

@each $ai in $alignItems {
  ._ai-#{$ai} {
    align-items: $ai;
  }
}

@each $gs in $growAndShrink {
  ._gr-#{$gs} {
    flex-grow: $gs;
  }

  ._sh-#{$gs} {
    flex-shrink: $gs;
  }
}

// ==================================
// Media properties
// ==================================

@each $size, $dim in $dimensions {
  @include media($dim) {
    @each $g in $gaps {
      ._g_#{$size}-#{$g} {
        gap: #{$g * $factor}px;
      }

      ._cg_#{$size}-#{$g} {
        column-gap: #{$g * $factor}px;
      }

      ._rg_#{$size}-#{$g} {
        row-gap: #{$g * $factor}px;
      }
    }

    @each $dir in $directions {
      ._dir_#{$size}-#{$dir} {
        flex-direction: $dir;
      }
    }

    @each $w in $wraps {
      ._w_#{$size}-#{$w} {
        flex-wrap: $w;
      }
    }

    @each $jc in $justifyContent {
      ._jc_#{$size}-#{$jc} {
        justify-content: $jc;
      }
    }

    @each $ai in $alignItems {
      ._ai_#{$size}-#{$ai} {
        align-items: $ai;
      }
    }

    @each $gs in $growAndShrink {
      ._gr_#{$size}-#{$gs} {
        flex-grow: $gs;
      }

      ._sh_#{$size}-#{$gs} {
        flex-shrink: $gs;
      }
    }
  }
}
