@import '../../../styles/mixins';
@import '../../../styles/variables';

.root {
  width: 375px;
  min-height: 352px;
  padding: 32px;
  background-color: $d-color-neutrals-white;
  position: relative;
  border-radius: 24px;

  @include tablet-mini {
    border-radius: 0;
    width: 100%;
  }

  & .backBtn {
    position: absolute;
    left: 32px;
    top: 32px;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $d-color-neutrals-gray-7;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.6;
    }

    @include tablet-mini {
      display: none;
    }
  }

  & .closeBtn {
    position: absolute;
    right: 32px;
    top: 32px;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $d-color-neutrals-gray-7;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.6;
    }

    @include tablet-mini {
      display: none;
    }
  }

  &::before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-color: inherit;
    border: inherit;
    position: absolute;
    top: -10px;
    left: calc(100% - 70px);
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(135deg);
    border-radius: 0 0 0 0.25em;

    @include tablet-mini {
      display: none;
    }
  }

  & h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
    color: $d-color-neutrals-gray-1;
    margin: 0 0 32px 0;
    font-weight: 400;
    text-align: center;

    @include tablet-mini {
      text-align: left;
    }
  }

  & p {
    font-size: 14px;
    line-height: 20px;
    color: $d-color-neutrals-gray-1;
    margin: 0 0 32px;
  }
}

.form {
  & label {
    font-size: 12px;
    display: block;
    line-height: 16px;
    color: $d-color-neutrals-gray-4;
    margin-bottom: 8px;
    -webkit-tap-highlight-color: transparent;
  }

  .errorWrapper {
    position: relative;
    margin-bottom: 32px;
  }

  & input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      border: 0;
      -webkit-box-shadow: 0 0 0 30px $d-color-neutrals-gray-7 inset !important;
      transition: background-color 5000s ease-in-out 0s;
      border: 1px solid $d-color-neutrals-gray-7;
      border-radius: 16px;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $d-color-neutrals-gray-1 !important;
    }

    &::placeholder {
      color: $d-color-neutrals-gray-4;
    }
  }

  & button {
    border-radius: 16px;
    min-height: 56px;
    width: 100%;
    background-color: $d-color-neutrals-gray-1;
    color: $d-color-neutrals-white;
    padding: 16px 32px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent;
  }

  .phoneError {
    & input {
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        border: 0;
        -webkit-box-shadow: 0 0 0 30px $d-color-neutrals-white inset !important;
        transition: background-color 5000s ease-in-out 0s;
        border: 1px solid $d-color-secondary-red;
        border-radius: 16px;
      }

      &::placeholder {
        color: $d-color-secondary-red;
      }
    }
  }

  .error {
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    bottom: -50px;
    padding: 0;
    color: $d-color-secondary-red;
  }
}

.checkboxWrapper {
  & label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 16px;
    padding-left: 36px;
    position: relative;
    cursor: pointer;
  }

  & input {
    @include visuallyHiddenMix;
    position: relative;

    &:checked + label::after {
      content: '';
      position: absolute;

      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      z-index: 2;

      background-image: url('public/image/checked.svg');

      background-repeat: no-repeat;
      background-size: 20px 20px;
      cursor: pointer;
    }

    &:checked + label:hover::after,
    &:checked + label:focus::after {
      background-image: url('public/image/checkedHover.svg');
    }

    &:checked + label:active::after {
      background-image: url('public/image/checkedClick.svg');
    }

    &:not(:checked) + label::before {
      content: '';
      position: absolute;

      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url('public/image/unchecked.svg');
      background-size: 20px 20px;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &:not(:checked) + label:hover::before,
    &:not(:checked) + label:focus::before {
      background-image: url('public/image/uncheckedHover.svg');
    }

    &:not(:checked) + label:active::before {
      background-image: url('public/image/uncheckedClick.svg');
    }

    @include tablet-mini {
      &:not(:checked) + label:focus::before,
      &:not(:checked) + label:active::before,
      &:not(:checked) + label:hover::before {
        background-image: url('public/image/unchecked.svg');
      }

      &:checked + label:hover::after,
      &:checked + label:focus::after,
      &:checked + label:active::after {
        background-image: url('public/image/checked.svg');
      }
    }
  }

  & div:last-child {
    & label {
      margin-bottom: 32px;
    }
  }

  & .checkboxError {
    position: relative;
  }

  .error {
    bottom: -20px;
  }

  & .links {
    color: $d-color-neutrals-gray-1;
    cursor: pointer;
  }
}
