// medea queries
@mixin media($size) {
  @media (max-width: #{$size}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$mq-xxl}) {
    @content;
  }
}

@mixin tablet-mini {
  @media (max-width: #{$mq-m}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$mq-l}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mq-xxs}) {
    @content;
  }
}


// Titles and text
// пока этого шрифта нет, но в макете он был предусмотрен
//@mixin headline-1 {
//    font-family: $font_h1;
//    font-weight: 600;
//    font-size: $font-size-h1;
//    line-height: 1;
//    letter-spacing: -0.03em;
//    margin: 0;
//}
@mixin headline-1-light {
  font-family: $font_h1;
  font-weight: 300;
  font-size: $font-size-h1;
  line-height: 1;
  letter-spacing: -0.03em;
  margin: 0;
}

@mixin headline-2 {
  font-family: $font-main;
  font-weight: 400;
  font-size: $font-size-h2;
  line-height: 56px;
  letter-spacing: -0.01em;
  margin: 0;
}

@mixin headline-3 {
  font-family: $font-main;
  font-weight: 400;
  font-size: $font-size-xxl;
  line-height: 48px;
  letter-spacing: -0.01em;
  margin: 0;
}

@mixin headline-4 {
  font-family: $font-main;
  font-weight: 400;
  font-size: $font-size-xl;
  line-height: 40px;
  letter-spacing: -0.01em;
  margin: 0;
}

@mixin headline-5 {
  font-family: $font-main;
  font-weight: 400;
  font-size: $font-size-l;
  line-height: 32px;
  letter-spacing: -0.01em;
  margin: 0;
}

@mixin text-accent {
  font-family: $font-main;
  font-weight: 400;
  font-size: $font-size-m;
  line-height: 32px;
}

@mixin text {
  font-family: $font-main;
  font-weight: 400;
  font-size: $font-size;
  line-height: 24px;
}

@mixin text-description {
  font-family: $font-main;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: 20px;
}

@mixin text-caption {
  font-family: $font-main;
  font-weight: 400;
  font-size: $font-size-xs;
  line-height: 16px;
}

@mixin button-l {
  font-family: $font-main;
  font-weight: 500;
  font-size: $font-size;
  line-height: 24px;
}

@mixin button {
  font-family: $font-main;
  font-weight: 500;
  font-size: $font-size-s;
  line-height: 20px;
}

@mixin button-s {
  font-family: $font-main;
  font-weight: 500;
  font-size: $font-size-xs;
  line-height: 16px;
}

@mixin headline-xl-light {
  font-family: $font-main;
  font-weight: 200;
  font-size: $font-size-h1-l;
  line-height: 1;
  margin: 0;
}

@mixin headline-l-light {
  font-family: $font-main;
  font-weight: 200;
  font-size: $font-size-h1;
  line-height: 1;
  margin: 0;
}

@mixin visuallyHiddenMix {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin unselectable {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  width: 100%;
}

@mixin no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
}

@mixin custom-scrollbar {
  // поддержка для Firefox
  scrollbar-color: rgba($color-background-gray, .5) $color-border-lighter;
  scrollbar-width: thin;

  // поддержка для Webkit
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 32px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color-background-gray, .5);
    border: 3px solid $color-border-lighter;
    border-radius: 22px;
  }
}
