$mq-xxxs: 359px;
$mq-xxs: 374px;
$mq-xs: 424px;
$mq-s: 576px;
$mq-n: 639px;
$mq-m: 767px;
$mq-l: 1023px;
$mq-xl: 1279px;
$mq-xxl: 1439px;
$mq-fhd: 1919px;
$mq-wqhd: 2559px;


$font-main: 'tt-hoves-pro', BlinkMacSystemFont, -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
$font-h1: 'tt-hoves-pro-expanded', BlinkMacSystemFont, -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;


//fonts
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size: 16px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 40px;
$font-size-h2: 48px;
$font-size-h1: 64px;
$font-size-h1-l: 72px;


//line-height
//$line-height_xs: 1;
//$line-height_s: 1.2;
//$line-height: 1.5;
//$line-height_l: 1.7;


// design Colors
$d-color-primary-stone: #2D2D2D;
$d-color-primary-office: #1C3040;
$d-color-primary-home: #B2461A;
$d-color-secondary-deep-green: #2C7B55;
$d-color-secondary-green: #3AA830;
$d-color-secondary-red: #DE4242;
$d-color-secondary-yellow: #E9B737;
$d-color-secondary-purple: #6439DF;
$d-color-secondary-blue: #015FF9;
$d-color-neutrals-gray-1: #141416;
$d-color-neutrals-gray-2: #23262F;
$d-color-neutrals-gray-3: #353945;
$d-color-neutrals-gray-4: #777E90;
$d-color-neutrals-gray-5: #B1B5C3;
$d-color-neutrals-gray-6: #E6E8EC;
$d-color-neutrals-gray-7: #F4F5F6;
$d-color-neutrals-gray-8: #FCFCFD;
$d-color-neutrals-white: #FFF;


// element Colors
$color-text: $d-color-neutrals-gray-1;
$color-text-dark: $d-color-neutrals-gray-2;
$color-text-dark-gray: $d-color-neutrals-gray-3;
$color-text-gray: $d-color-neutrals-gray-4;
$color-text-light: $d-color-neutrals-gray-5;
$color-text-lighter: $d-color-neutrals-white;
$color-text-accent: $d-color-secondary-purple;
$color-text-positive: $d-color-secondary-green;
$color-text-warning: $d-color-secondary-red;
$color-text-primary-home: $d-color-primary-home;
$color-text-info: $d-color-secondary-blue;
$color-background: $d-color-neutrals-gray-1;
$color-background-dark: $d-color-neutrals-gray-2;
$color-background-primary: $d-color-primary-stone;
$color-background-primary-office: $d-color-primary-office;
$color-background-primary-home: $d-color-primary-home;
$color-background-dark-gray: $d-color-neutrals-gray-3;
$color-background-grayish: $d-color-neutrals-gray-4;
$color-background-gray: $d-color-neutrals-gray-5;
$color-background-light-gray: $d-color-neutrals-gray-6;
$color-background-light: $d-color-neutrals-gray-7;
$color-background-lighter: $d-color-neutrals-white;
$color-border: $d-color-neutrals-gray-3;
$color-border-dark-gray: $d-color-neutrals-gray-4;
$color-border-gray: $d-color-neutrals-gray-5;
$color-border-light: $d-color-neutrals-gray-6;
$color-border-lightly: $d-color-neutrals-gray-7;
$color-border-lighter: $d-color-neutrals-white;
$color-border-warning: $d-color-secondary-red;
$color-border-positive: $d-color-secondary-green;
$color-border-info: $d-color-secondary-blue;


$animation_duration: 0.2s;
$animation-duration-slide-fade: 0.3s;
//$animation_duration_fast: 0.15s;


//$box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
//$box-shadow_border: 0px 0px 6px rgba(0, 0, 0, 0.25);
//$box-shadow_border_hover: 0px 0px 10px rgba(0, 0, 0, 0.5);
//$box-shadow_bottom: 0 5px 5px -5px rgba(0, 0, 0, .5);


//dimensions
$content-width: 1440px;
$header-height: 100px;
$header-height-tablet: 88px;
$header-height-mobile: 72px;
$header-link-width: 230px;
$header-control-height: 36px;
$header-control-height-full: 48px;
$button-height: 56px;
$button-height-tablet: 48px;
$button-round-size: 48px;
$teaser-item-size: 360px;
$teaser-item-size-tablet: 342px;

$switcher-width: 212px;

$border-radius_xl: 32px;
$border-radius_l: 24px;
$border-radius: 16px;
$border-radius-s: 12px;

$icon-size_s: 20px;
$icon-size: 24px;
$icon-size-l: 40px;

$space_xxl: 56px;
$space_xl: 48px;
$space_l: 40px;
$space: 32px;
$space_s: 24px;
$space_xs: 16px;
$space_prexs: 12px;
$space_xxs: 8px;
$space_gap: 4px;
