@import "app/ui/styles/variables.scss";
@import "app/ui/styles/mixins.scss";

.main_banner {
  // данные переменные аналогичны переменным в компоненте Banner.tsx
  $transition-duration: 200ms;
  $delay: 5000ms;

  $animation-width: 1350px;
  $animation-width-desktop: 1100px;
  $animation-width-tablet: 900px;
  $animation-width-mobile: 460px;
  $animation-offset: -300px;
  $animation-offset-mobile: -150px;

  display: flex;
  align-items: flex-end;
  height: 400px;
  background-color: $color-background;
  padding: (32 * $space_gap) (20 * $space_gap) (20 * $space_gap);

  overflow: hidden;

  @include desktop {
    height: 312px;
    padding: (26 * $space_gap) $space_l $space_l;
  }

  @include media($mq-n) {
    height: 444px;
    padding: $space;
  }

  &__container {
    height: 100%;
  }

  &__progress_bar {
    position: absolute;
    top: 0;
    left: 0;

    height: 1px;
    width: 0;
    background-color: $color-border-gray;
    animation: progress $delay $transition-duration * 2 linear;

    @keyframes progress {
      0% {
        width: 0;
      }

      100% {
        width: 100%;
      }
    }
  }

  &__slides {
    position: relative;
    height: 100%;
  }

  &__slide {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: -100px;
    left: 0;
    width: $animation-width;
    height: 100%;
    color: $color-text-lighter;
    background: linear-gradient(to right, $color-text-gray 0, $color-text-lighter 10%, $color-text-gray 20%);
    background-position: $animation-offset;
    background-clip: text;
    @include headline-1-light;
    -webkit-text-fill-color: transparent;

    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    overflow: hidden;

    opacity: 0;

    @keyframes shine {
      0% {
        background-position: $animation-offset;
      }

      100% {
        background-position: $animation-width + $animation-offset;
      }
    }

    @include desktop {
      @include headline-2;
      width: $animation-width-desktop;

      @keyframes shine {
        0% {
          background-position: $animation-offset;
        }

        100% {
          background-position: $animation-width-desktop + $animation-offset;
        }
      }
    }

    @include tablet {
      @include headline-4;

      width: $animation-width-tablet;

      @keyframes shine {
        0% {
          background-position: $animation-offset;
        }

        100% {
          background-position: $animation-width-tablet + $animation-offset;
        }
      }
    }

    @include media($mq-n) {
      align-items: flex-start;
      bottom: auto;
      top: 100px;
      height: 80 * $space_gap;
      width: $animation-width-mobile;
      background-position: $animation-offset-mobile;

      @keyframes shine {
        0% {
          background-position: $animation-offset-mobile;
        }

        100% {
          background-position: $animation-width-mobile + $animation-offset-mobile;
        }
      }
    }
  }

  &__slide.is_active {
    position: relative;
    bottom: 0;
    opacity: 1;
    z-index: 1;

    animation: shine ($delay + ($transition-duration * 2)) linear backwards;

    @include media($mq-n) {
      top: 0;
      bottom: auto;
    }
  }

  &__slide span {
    max-width: 1091px;

    @include desktop {
      max-width: 784px;
    }

    @include tablet {
      max-width: 580px;
    }

    @include media($mq-n) {
      max-width: 311px;
    }
  }

  &__dots {
    display: flex;
    position: absolute;
    right: 20 * $space_gap;
    bottom: 51px;

    @include desktop {
      right: $space_l;
      bottom: 19px;
    }

    @include media($mq-n) {
      right: auto;
      left: $space;
    }
  }

  &__dot {
    padding: $space_xxs;
    cursor: pointer;
  }

  &__dot_elem {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-background-dark-gray;
  }

  &__dot.is_active &__dot_elem {
    background-color: $color-background-lighter;
  }
}
