@import 'src/styles/variables';
@import 'src/styles/mixins';

.status {
  display: flex;

  &_soon &__value {
    color: $color-text;
  }

  &_sale &__value {
    color: $color-text-positive;
  }

  &_sold &__value {
    color: $color-text-gray;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: $space_xxs;

    @include desktop {
      width: 16px;
      height: 16px;
    }
  }

  &__value {
    @include text-description;
    color: $color-text-accent;

    @include desktop {
      @include text-caption;
    }
  }
}
