@use 'app/ui/styles/unity' as *;

.circle {
  border-radius: 50%;
}

._s-medium {
  width: 12px;
  height: 12px;
}

._s-large {
  width: 18px;
  height: 18px;
}

.container {
  transform: scale(-1, 1);

  .circle:not(:first-child) {
    margin-left: -3px;

    &._variant-white {
      box-shadow: 0 0 0 1px $neutrals-white;
    }

    &._variant-black {
      box-shadow: 0 0 0 1px $neutrals-gray-1;
    }

    &._variant-office {
      box-shadow: 0 0 0 1px $primary-office;
    }
  }
}
