@font-face {
  font-family: 'tt-hoves-pro';
  font-style: normal;
  font-weight: 400;
  src: url('../../../public/assets/fonts/tt-hoves-pro-regular-webfont.woff2') format('woff2'),
  url('../../../public/assets/fonts/tt-hoves-pro-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'tt-hoves-pro';
  font-style: normal;
  font-weight: 500;
  src: url('../../../public/assets/fonts/tt-hoves-pro-medium.woff2') format('woff2'),
  url('../../../public/assets/fonts/tt_hoves_pro_medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'tt-hoves-pro';
  font-style: normal;
  font-weight: 200;
  src: url('../../../public/assets/fonts/tt_hoves_pro_thin-webfont.woff2') format('woff2'),
  url('../../../public/assets/fonts/tt_hoves_pro_thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'tt-hoves-pro-expanded';
  font-style: normal;
  font-weight: 300;
  src: url('../../../public/assets/fonts/tt_hoves_pro_expanded_light-webfont.woff2') format('woff2'),
  url('../../../public/assets/fonts/tt_hoves_pro_expanded_light-webfont.woff') format('woff');
}
