@import 'src/styles/variables';
@import 'src/styles/mixins';

$tag-height: 40px;

.blockList {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;

  div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @include desktop {
    flex-direction: column;
  }

  &__item {
    width: calc(100% / 2);
    height: 720px;
    background-color: $color-background;
    padding: (30 * $space_gap) 0 (30 * $space_gap) (20 * $space_gap);
    overflow: hidden;

    @include desktop {
      width: auto;
      height: 400px;
      padding: (20 * $space_gap) 0 (20 * $space_gap) (20 * $space_gap);
    }

    @include media($mq-m) {
      height: 375px;
      padding-left: $space;
    }
  }

  &__item:first-child {
    @include media($mq-m) {
      height: auto;
    }
  }

  &__item:last-child {
    padding: 0;
  }
}

.teaser {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $color-text-lighter;
    @include headline-3;
    margin-right: 20 * $space_gap;
    margin-bottom: $space_l;
    flex-shrink: 0;

    @include desktop {
      @include headline-4;
      margin-right: 20 * $space_gap;
      margin-bottom: $space;
    }

    @include media($mq-m) {
      margin-right: $space;
    }
  }

  &__list {
    max-height: 40px;
    min-width: 600px;
    display: flex;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;

    @include tablet {
      @include no-scroll;
    }
  }

  &__item:not(:last-child) {
    margin-right: $space_xxs;
  }

  &__item {
    padding-right: 6px;
    padding-left: 2px;
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-right: 20 * $space_gap;
    overflow: hidden;
    @include media($mq-xxl) {
      margin-bottom: $space;
    }
    @include media($mq-m) {
      margin-right: $space_xs;
      min-height: 200px;
      margin-bottom: $space;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    @include headline-5;
    color: $color-text-lighter;
    overflow: hidden;
    opacity: 0;

    @include desktop {
      min-height: 96px;
      @include text-accent;
    }

    @include media($mq-m) {
      min-height: 128px;
      @include text;
    }
  }

  &__content.isActive {
    position: relative;
    top: 0;
    opacity: 1;
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $tag-height;
  padding: 0 $space_s;
  border: 1px solid $color-border-dark-gray;
  border-radius: $tag-height / 2;
  @include button-s;
  color: $color-text-lighter;
  cursor: pointer;
}
