.block-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;

    &_style_slider {

        @include tablet {
            flex-direction: column;
        }
    }
    &_style_slider &__item {
        height: $teaser-item-size * 2;

        @include desktop {
            height: 528px;
        }
    }
    &_style_slider &__item:first-child {
        background-color: $color-background;

        @include desktop {
            width: calc(100% / 3);
        }

        @include tablet {
            width: 100%;
        }

        @include media($mq-n) {
            height: 375px;
        }
    }
    &_style_slider &__item:last-child {
        background-color: $color-background-lighter;

        @include desktop {
            width: calc((100% / 3) * 2);
        }

        @include tablet {
            width: 100%;
        }

        @include media($mq-n) {
            height: 370px;
        }
    }

    &_style_switch &__title {
        display: none;

        @include media($mq-n) {
            display: block;
            @include headline-4;
            padding: 20*$space_gap $space_s $space_s;
        }
    }
    &_style_switch &__item {
        height: $teaser-item-size * 2;

        @include desktop {
            height: $teaser-item-size-tablet * 2;
        }
    }
    &_style_switch &__item:first-child {
        background-color: $color-background-lighter;

        @include desktop {
            width: calc((100% / 3) * 2);
        }

        @include tablet {
            width: 100%;
            order: 2;
        }

        @include media($mq-n) {
            height: auto;
        }
    }
    &_style_switch &__item:last-child {

        @include desktop {
            width: calc(100% / 3);
        }

        @include tablet {
            width: 100%;
        }

        @include media($mq-n) {
            height: 640px;
        }
    }

    &_style_company &__item:first-child {
        width: calc((100% / 4) * 3);

        @include desktop {
            width: calc((100% / 3) * 2);
        }

        @include tablet {
            width: 100%;
        }
    }
    &_style_company &__item:last-child {
        width: calc(100% / 4);
        background-color: $color-background-lighter;

        @include desktop {
            width: calc(100% / 3);
        }

        @include tablet {
            width: 100%;
        }
    }

    &_direction_vertical {
        flex-direction: column;
    }

    &__item {
        width: calc(100% / 2);
    }
}
