.header-menu {
    position: fixed;
    top: $header-height;
    left: 50%;
    width: 100%;
    max-width: $content-width;
    height: calc(100% - $header-height);
    margin-left: - ($content-width / 2);
    z-index: 100;

    @include desktop {
        top: $header-height-tablet;
        left: 0;
        height: calc(100% - $header-height-tablet);
        margin-left: 0;
    }

    @include tablet {
        top: $header-height-mobile;
        height: calc(100% - $header-height-mobile);
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background-color: rgba($color-background, .8);
    }

    &__menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 391px;
        height: 100%;
        background-color: $color-background;
        padding: $space_xs $space_l;
        border-left: 1px solid $color-border;

        @include media($mq-xs) {
            border-left: none;
        }
    }

    &__section {
        padding-top: $space_s;
        padding-bottom: $space_s;

        &:not(:last-child) {
            border-bottom: 1px solid $color-border;
        }

        @include desktop {
            //TODO: когда добавят ЛК, то раскомментить
            // &:not(:last-child) {
            //     border-bottom: none;
            // }

            // &:nth-last-child(n + 3) {
            //     border-bottom: 1px solid $color-border;
            // }
        }

        &_col {
            display: flex;
        }

        &_style_switcher {
            display: none;

            @include media($mq-xl) {
                // display: flex; TODO: временно убрали свитчер
                justify-content: space-between;
                align-items: center;
                padding-top: 5 * $space_gap;
                padding-bottom: 5 * $space_gap;
            }
        }
    }

    &__col {
        width: 55%;
    }

    &__col:last-child {
        width: 45%;
    }

    &__title {
        @include text-accent;
        color: $color-text-lighter;
        margin-bottom: $space_s;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        color: $color-text-light;
        margin-bottom: $space_s;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle {
        @include button-l;
        color: $color-text-lighter;
    }

    &__icon {
        width: $icon-size;
        height: $icon-size;
        color: $color-text-lighter;
    }
}
