@use 'shared/styles/unity' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background-color: $neutrals-gray-7;
  border-radius: 50%;
}
