@import 'src/styles/variables';
@import 'src/styles/mixins';

$transition-animation: 3000ms;
$transition-duration: 300ms;

$animation-width: 1000px;
$animation-width-desktop: 800px;
$animation-width-tablet: 460px;
$animation-offset: -300px;
$animation-offset-mobile: -150px;

.blockList {
  display: flex;
  flex-wrap: wrap;
  height: 520px;
  background-color: $color-background;

  @include desktop {
    height: 532px;
  }

  @include tablet {
    height: auto;
    padding: $space_l $space;
  }

  &__item {
    width: calc(100% / 2);

    @include tablet {
      width: 100%;
    }
  }
}

.leftSide {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20 * $space_gap;

  @include desktop {
    padding: (20 * $space_gap) $space_l;
  }

  @include tablet {
    padding: 0;
    padding-bottom: $space_l;
    border-bottom: 1px solid $color-border;
  }

  &__content {
    flex: 1 0 auto;
    overflow: hidden;
  }

  &__title {
    width: $animation-width;
    color: $color-text-lighter;
    background: linear-gradient(
      to right,
      $color-text-gray 0,
      $color-text-lighter 10%,
      $color-text-gray 20%
    );
    background-position: $animation-offset;
    background-clip: text;
    @include headline-1-light;
    margin-bottom: $space_s;

    -webkit-text-fill-color: transparent;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;

    @keyframes shine {
      0% {
        background-position: $animation-offset;
      }

      100% {
        background-position: $animation-width + $animation-offset;
      }
    }

    @include desktop {
      width: $animation-width-desktop;
      @include headline-2;
      margin-bottom: $space_s;

      @keyframes shine {
        0% {
          background-position: $animation-offset;
        }

        100% {
          background-position: $animation-width-desktop + $animation-offset;
        }
      }
    }

    @include media($mq-n) {
      width: $animation-width-tablet;
      @include headline-4;
      margin-bottom: $space_xs;
      background-position: $animation-offset-mobile;

      @keyframes shine {
        0% {
          background-position: $animation-offset-mobile;
        }

        100% {
          background-position: $animation-width-tablet + $animation-offset-mobile;
        }
      }
    }
  }

  &__title.isAnimate {
    animation: shine $transition-animation linear backwards;
  }

  &__title span {
    display: block;
    max-width: 560px;

    @include desktop {
      max-width: 430px;
    }

    @include tablet {
      max-width: 576px;
    }

    @include media($mq-n) {
      max-width: 311px;
    }

    @include mobile {
      max-width: 256px;
    }
  }

  &__address {
    color: $color-text-lighter;
    @include headline-5;
    margin-bottom: $space_s;

    @include media($mq-n) {
      @include text;
      margin-bottom: $space_xs;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px;
  }

  &__item {
    padding: 0 3px;
    margin-bottom: $space_gap;
  }

  &__footer {
    flex-shrink: 0;

    @include tablet {
      display: none;
    }
  }
}

.rightSide {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: (20 * $space_gap) $space_l;

  @include tablet {
    padding: 0;
    padding-top: $space_l;
  }

  &__content {
    flex: 1 0 auto;
  }

  &__list {
    position: relative;
    margin-bottom: $space_l;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 80px;
    color: $color-text-lighter;
    @include headline-4;

    opacity: 0;
    transition: opacity $transition-duration;

    @include media($mq-n) {
      min-height: 64px;
      @include text-accent;
      margin-bottom: $space_xs;
    }
  }

  &__item.isActive {
    position: relative;
    opacity: 1;

    transition: opacity $transition-duration $transition-duration;
  }

  &__dots {
    display: flex;
    right: 20 * $space_gap;

    @include desktop {
      right: $space_l;
      bottom: 19px;
    }

    @include tablet {
      margin-bottom: $space_l;
    }

    @include media($mq-n) {
      right: auto;
      left: $space;
    }
  }

  &__dot {
    position: relative;
    cursor: pointer;
    padding: $space_xxs;
  }

  &__dot:not(:last-child) {
    margin-right: $space_xxs;
  }

  &__dot:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    background-color: $color-background-dark-gray;
  }

  &__dot.isActive:before {
    background-color: $color-background-lighter;
  }

  &__footer {
    max-width: 500px;
    color: $color-text-lighter;
    flex-shrink: 0;
  }

  &__note {
    @include tablet {
      margin-bottom: $space;
    }
  }

  &__description {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__info {
    @include headline-4;
    color: $color-text-lighter;

    @include tablet {
      @include text;
    }
  }
}
