@import 'app/ui/styles/variables.scss';
@import 'app/ui/styles/mixins.scss';

$slide-current-desktop: 480px;
$slide-current-tablet: 261px;
$slide-desktop: 100px;
$slide-tablet: 80px;

.slider {
  @include unselectable;

  @include media($mq-n) {
    overflow: hidden;
  }

  &_compact {
    height: $teaser-item-size;
    overflow: hidden;

    @include desktop {
      height: $teaser-item-size-tablet;
    }

    @include media($mq-n) {
      height: 375px;
    }
  }
  &_compact &__slider {
    top: -64px;
    justify-content: center;

    transform: rotate(90deg);

    @include media($mq-n) {
      top: -31px;
    }
  }
  &_compact &__item {
    width: $slide-tablet;
    height: $slide-tablet;
    transform: rotate(-90deg);
  }
  &_compact &__item.is-current {
    width: $slide-current-tablet;
    height: $slide-current-tablet;
  }
  &_compact &__item.is-prev {
    margin: $space_xs;
  }
  &_compact &__item.is-next {
    margin: $space_xs;
  }

  &_style_shading &__item {
    opacity: 1;
  }
  &_style_shading &__item.is-prev,
  &_style_shading &__item.is-next,
  &_style_shading &__item.is-hide {
    opacity: 0.6;
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -45px;

    transform: rotate(225deg);

    @include desktop {
      top: 4px;

      transform: rotate(180deg);
    }

    @include media($mq-n) {
      top: -31px;
      justify-content: center;

      transform: rotate(90deg);
    }
  }

  &__item {
    width: $slide-desktop;
    height: $slide-desktop;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    transform: rotate(-225deg);

    @include desktop {
      width: $slide-tablet;
      height: $slide-tablet;

      transform: rotate(180deg);
    }

    @include media($mq-n) {
      transform: rotate(-90deg);
    }
  }

  &__item.is-current {
    width: $slide-current-desktop;
    height: $slide-current-desktop;
    border-radius: 50%;

    @include desktop {
      width: $slide-current-tablet;
      height: $slide-current-tablet;
    }
  }

  &__item.is-prev {
    margin: $space;
    cursor: pointer;

    @include desktop {
      margin: $space_s;
    }

    @include media($mq-n) {
      margin: $space_xs;
    }
  }

  &__item.is-next {
    margin: $space;
    cursor: pointer;

    @include desktop {
      margin: $space_s;
    }

    @include media($mq-n) {
      margin: $space_xs;
    }
  }

  &__item.is-hide {
    width: 0;
    height: 0;
    border-radius: 50%;
  }
}
