.layout .header__form_shown {
  display: block;
}

.header__form {
  display: none;
  width: 375px;
  height: 325px;
}

.header__user {
  position: relative;
}

.userWrapper {
  display: block;
  height: 24px;
  width: 24px;
}

.mobileLkbtn {
  margin-top: 32px;
}
